@font-face {
  font-family: "Proxi";
  src: url("../fonts/proximanova-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #fff; }

html, body {
  position: relative; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  overflow-y: scroll; }

.swiper-container {
  width: 100%;
  min-height: 100vh; }

.swiper-slide {
  min-height: 100vh;
  padding-bottom: 30px;
  background-attachment: fixed; }

.swiper-pagination {
  position: fixed;
  top: 23px;
  left: auto;
  right: 23px;
  width: 95px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background-color: rgba(128, 128, 128, 0.96);
  border-radius: 30px; }

.swiper-button-prev,
.swiper-button-next {
  width: 25px;
  height: 39px; }

.swiper-button-prev {
  background: url("../images/sprite.png") -37px 0px no-repeat; }

.swiper-button-next {
  background: url("../images/sprite.png") -60px 0px no-repeat; }

.container-main {
  width: 1024px;
  margin: 0 auto;
  padding: 0 20px; }

.icon {
  display: block;
  margin-left: 35px; }
  .icon.icon-lightning {
    width: 38px;
    height: 66px;
    background: url("../images/ic-2.png"); }
  .icon.icon-heart {
    width: 66px;
    height: 60px;
    background: url("../images/ic-1.png"); }
  .icon.icon-book {
    width: 83px;
    height: 73px;
    background: url("../images/ic-3.png"); }
  .icon.icon-hand {
    width: 63px;
    height: 83px;
    background: url("../images/ic-4.png"); }
  .icon.icon-text {
    width: 132px;
    height: 89px;
    background: url("../images/ic-5.png"); }

.circle-block {
  width: 369px;
  height: 369px;
  background-color: green;
  border-radius: 100%; }

.slide-info .info-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 65px; }

.slide-info .logo {
  width: 151px;
  height: auto; }

.slide-info .info-title {
  margin-bottom: 40px;
  font-family: "Proxi";
  font-size: 45px;
  line-height: 58px;
  font-weight: 900; }

.slide-info .info-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .slide-info .info-inner-wrapper .circle-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }

.slide-info .info-desc .title {
  margin-bottom: 15px;
  font-family: "Proxi";
  font-size: 24px;
  line-height: 30px; }

.slide-info .info-desc p {
  font-size: 18px;
  line-height: 26px; }

.slide-info .info-desc .list {
  margin-bottom: 20px; }
  .slide-info .info-desc .list li {
    font-size: 18px;
    line-height: 23px; }

.slide-one {
  background-color: #000; }

.slide-two {
  padding-top: 65px;
  background: url("../images/bg/bg2.jpg");
  background-size: cover;
  background-position: center; }
  .slide-two .slide-info .info-desc {
    padding-right: 55px; }
  .slide-two .slide-info .circle-block {
    -ms-flex-item-align: end;
    align-self: flex-end;
    background: url("../images/circle/1.jpg"); }

.slide-three {
  padding-top: 110px;
  background-color: #000;
  background-size: contain;
  background-position: center; }
  .slide-three .slide-info .info-desc .title {
    margin-bottom: 40px; }
  .slide-three .slide-info .info-desc {
    padding-right: 140px; }
  .slide-three .slide-info .circle-block {
    -ms-flex-item-align: start;
    align-self: flex-start;
    background: url("../images/circle/2.jpg"); }

.slide-four {
  padding-top: 75px;
  background: url("../images/bg/bg3.jpg");
  background-color: #000;
  background-size: cover;
  background-position: center; }
  .slide-four .slide-info .info-desc .list {
    padding-right: 140px;
    padding-bottom: 50px; }
    .slide-four .slide-info .info-desc .list li {
      margin-bottom: 25px; }
  .slide-four .slide-info .circle-block {
    -ms-flex-item-align: end;
    align-self: flex-end;
    background: url("../images/circle/3.jpg"); }

.slide-five {
  padding-top: 30px;
  background-color: #000; }
  .slide-five .slide-info .info-desc {
    width: 460px; }

.slide-six {
  background-color: #000; }

.slide-seven {
  padding-top: 200px;
  background: url("../images/bg/bg2.jpg");
  background-color: #000;
  background-size: cover;
  background-position: center; }
  .slide-seven .slide-info .list {
    margin-bottom: 30px; }
    .slide-seven .slide-info .list li {
      font-size: 24px;
      line-height: 30px; }

.slide-eight {
  padding-top: 110px;
  background: url("../images/bg/bg2.jpg");
  background-color: #000;
  background-size: cover;
  background-position: center; }
  .slide-eight .info-head {
    margin-bottom: 150px; }
  .slide-eight .info-title {
    margin-bottom: 100px; }
  .slide-eight .slide-info .list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 570px; }
  .slide-eight .slide-info .list {
    width: 50%; }
    .slide-eight .slide-info .list li {
      line-height: 26px; }
    .slide-eight .slide-info .list .name {
      font-family: "Proxi"; }
  .slide-eight .slide-info .list:nth-of-type(1),
  .slide-eight .slide-info .list:nth-of-type(3) {
    padding-right: 15px; }

/*# sourceMappingURL=style.css.map */