@font-face {
  font-family: "Proxi";
  src: url("../fonts/proximanova-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#fff;
  background-color: #000;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  position: relative;
  height: 100%;

  .fixed-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Swiper Global
.swiper-global {
  .g-swiper-pagination {
    position: fixed;
    top: 23px;
    left: auto;
    right: 80px;
    width: 95px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    background-color: rgba(128, 128, 128, 0.96);
    border-radius: 30px;
  }

  .g-swiper-button-prev,
  .g-swiper-button-next {
    width: 25px;
    height: 39px;
  }

  .g-swiper-button-prev {
    left: 25px;
    background: url('../images/sprite.png') -37px 0px no-repeat;
  }

  .g-swiper-button-next {
    right: 25px;
    background: url('../images/sprite.png') -60px 0px no-repeat;
  }
}

// Swiper Mini
.swiper-mini {
  margin-bottom: 50px;
  height: 500px;

  .m-swiper-pagination {}

  .swiper-slide {
    width: 100%;      
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .m-slide-one {
    background-image: url('../images/slider/1.jpg');
  }

  .m-slide-two {
    background-image: url('../images/slider/2.gif');
  }

  .m-slide-three {
    background-image: url('../images/slider/3.jpg');
  }

  .m-slide-four {
    background-image: url('../images/slider/4.jpg');
  }

  .m-slide-five {
    background-image: url('../images/slider/5.jpg');
  }

  .m-slide-six {
    background-image: url('../images/slider/6.jpg');
  }

  .m-slide-seven {
    background-image: url('../images/slider/7.jpg');
  }

  .m-slide-eigth {
    background-image: url('../images/slider/8.jpg');
  }
}

.container-main {
  width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  display: block;
  margin-left: 35px;

  &.icon-lightning {
    width: 38px;
    height: 66px;
    background: url('../images/ic-2.png');
  }

  &.icon-heart {
    width: 66px;
    height: 60px;
    background: url('../images/ic-1.png');
  }

  &.icon-book {
    width: 83px;
    height: 73px;
    background: url('../images/ic-3.png');
  }

  &.icon-hand {
    width: 63px;
    height: 83px;
    background: url('../images/ic-4.png');
  }

  &.icon-text {
    width: 132px;
    height: 89px;
    background: url('../images/ic-5.png');
  }
}

.circle-block {
  width: 369px;
  height: 369px;
  background-color: green;
  border-radius: 100%;
}

// Slide INFO
.slide-info {
  padding-bottom: 40px;

  .info-head {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
  }  

  .logo {
    width: 151px;
    height: auto;
  }

  .info-title {
    margin-bottom: 40px;
    font-family: "Proxi";
    font-size: 45px;
    line-height: 58px;
    font-weight: 900;
  }

  .info-inner-wrapper {
    display: flex;
    justify-content: space-between;

    .circle-block {
      flex: 1 0 auto;
    }
  }

  .info-desc {
    .title {
      margin-bottom: 15px;
      font-family: "Proxi";
      font-size: 24px;
      line-height: 30px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }

    .list {
      margin-bottom: 20px;

      li {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
}

// Slide #1
.slide-one {
  .scroll-container {
    padding-top: 190px;

    .info-head {
      padding-left: 35px;
      margin-bottom: 30px;
    }

    .logo {
      width: 300px;
    }

    .circle-block {
      background: url('../images/circle/0.jpg');
    }
  }
  
}

// Slide #2
.slide-two {
  .fixed-container {
    background-image: url('../images/bg/bg2.jpg');
  }

  .scroll-container {
    padding-top: 65px;
  }

  .slide-info {
    .info-desc {
      padding-right: 55px;
    }

    .circle-block {
      align-self: flex-end;
      background: url('../images/circle/1.jpg');
    }
  }
}

// Slide #3
.slide-three {
  .fixed-container {
    background: url('../images/pattern-1.png') no-repeat;
    background-size: 900px;
    background-position: 0 0;
  }

  .scroll-container {
    padding-top: 110px;
  }

  .slide-info {
    .info-desc {
      .title {
        margin-bottom: 40px;
      }
    }

    .info-desc {
      padding-right: 140px;
    }

    .circle-block {
      align-self: flex-start;
      background: url('../images/circle/2.jpg');
    }
  }
}

// Slide #4
.slide-four {
  .fixed-container {
    background-image: url('../images/bg/bg3.jpg');

    .overlay {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .scroll-container {
    padding-top: 75px;
  }

  .slide-info {
    .info-desc {
      .list {
        padding-right: 140px;
        padding-bottom: 50px;

        li {
          margin-bottom: 25px;
        }
      }
    }

    .circle-block {
      align-self: flex-end;
      background: url('../images/circle/3.jpg');
    }
  }
}

// Slide #5
.slide-five {
  .fixed-container {
    background-image: url('../images/bg/bg2.jpg'), url('../images/pattern-1.png');

    .overlay {
      
      background-color: rgba(0, 0, 0, 0.6);
    }

    .overlay-mask {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: url('../images/pattern-1.png') no-repeat;
      background-size: 980px;
      background-position: 0 0;
    }
  }

  .scroll-container {
    padding-top: 30px;
  }

  .slide-info .info-desc {
    width: 460px;
  }
}

// Slide #6
.slide-six {
  .fixed-container {}

  .scroll-container {}
}

// Slide #7
.slide-seven {
  .fixed-container {
    background-image: url('../images/bg/bg2.jpg');
  }

  .scroll-container {
    padding-top: 200px;
  }

  .slide-info {
    .list {
      margin-bottom: 30px;

      li {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }  
}

// Slide #8
.slide-eight {
  .fixed-container {
    background-image: url('../images/bg/bg2.jpg');
  }

  .scroll-container {
    padding-top: 110px;
  }

  .info-head {
    margin-bottom: 150px;
  }

  .info-title {
    margin-bottom: 100px;
  }

  .slide-info {
    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 570px;
    }

    .list {
      width: 50%;

      li {
        line-height: 26px;
      }

      .name {
        font-family: "Proxi";
      }
    }

    .list:nth-of-type(1),
    .list:nth-of-type(3) {
      padding-right: 15px;
    }
  }
}

// Menu Swiper Global
.menu-swiper-global {
  $menuHeight: 184px;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $menuHeight;
  background-color: lightgreen;
  z-index: 100;
  transform: translateY($menuHeight);
  transition: transform 0.4s ease;

  &.show {
    transform: translateY(0);
  }
}

.btn-toggle-menu {
  position: fixed;
  top: 23px;
  right: 23px;
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.96);
  border: none;
  border-radius: 100%;
  outline: none;
  z-index: 100;
  cursor: pointer;
}